<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, id: :comment_user_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :comment_body %>
  </div>
  
  <div class="field">
  <%= form.label :picture %><br>
  <%= form.file_field :picture %>
  </div>
  
  <%= form.hidden_field :idea_id %>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary btn2 col-md-3 col-md-offset-9'%>
  </div>
<% end %>
<style>
  .btn2 {
    background-color: #428bca;
  }
  textarea {
    width: 100%;
    height: 100px;
  }
</style>
