<div class="block">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>User name:</strong>
    <p><%= @comment.user_name %></p>
  </p>
  
  <p>
    <strong>Body:</strong>
    <p><%= @comment.body %></p>
  </p>
  
  <p>
    <strong>Idea:</strong>
    <p><%= @comment.idea_id %></p>
  </p>
  
  <div class="row">
    <div class="btn"> <img src="https://cdn3.iconfinder.com/data/icons/edition/100/pen_2-128.png"/> <%= link_to 'Edit', edit_comment_path(@comment) %> | </div>
    <div class="btn"> <img src="https://cdn2.iconfinder.com/data/icons/social-messaging-productivity-1/128/reply-128.png"/> <%= link_to 'Back', comments_path %> </div>
  </div>
</div>